body {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: grid;
  grid-template-columns: 1fr 802px 1fr;
  grid-template-rows: 160px auto;
  grid-template-areas:
    "title title title"
    ". canvas labels"
    ". settings .";
}

h1 {
  grid-area: title;
  margin: 50px 0 0;
}

#settings {
  padding: 20px 0 0;
  grid-area: settings;
}

#settings input {
  vertical-align: middle;
}

canvas {
  grid-area: canvas;
  border: solid 1px #333;
}

#bar-labels {
  grid-area: labels;
  text-align: left;
  padding-left: 30px;
}